/*stylesheet by Nyla Thursday, 2023*/


/* Default styling */
body {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: left;
  color: white;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: .95em;
}

/* web page features */

/* #header {
  height: 100px;
  text-align: center;
  background-color: #003C69;
} */
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #003C69; */
  background-color: #a72b05;
}

/* #innerHeader {
  height: 10px;
  text-align: left;
  background-color: #F29E38;
} */

#panel {
  /* border-radius: 5px; */
  float: left;
  width: 24%;
  height: 600px;
  padding: 20px;
  text-align: left;
  text-align: left;
  /* background: rgb(181, 181, 181); */
  background: rgb(181, 181, 181);
  font-size: .7em;
  line-height: normal;
}

#expl {
  font-size: 12px;
}

/* maps*/
#map {
  /* border-radius: 5px; */
  float: left;
  height: 600px;
  width: 38%;
  background-color:rgb(181, 181, 181);

}

#map2 {
  /* border-radius: 5px; */
  float: left;
  height: 600px;
  width: 38%;
  background-color:rgb(181, 181, 181);

}

/* Year slider */
.range-slider { /* HO */
  /* Set the initial style of the slider */
  width: 100%;
  height: 8px;
  background-color: #ddd;
  outline: none;
  opacity: 1;
  transition: opacity .2s;
}

.range-slider::-webkit-slider-thumb {
  /* Set the style of the slider thumb */
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #3C6754;
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  /* Set the style of the slider thumb for Firefox */
  width: 15px;
  height: 15px;
  background-color: #3C6754;
  cursor: pointer;
}


.range-sliderHF {/* HF */
  /* Set the initial style of the slider */
  width: 100%;
  height: 8px;
  background-color: #ddd;
  outline: none;
  opacity: 1;
  transition: opacity .2s;
}

.range-sliderHF::-webkit-slider-thumb {
  /* Set the style of the slider thumb */
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #375881;
  cursor: pointer;
}

.range-sliderHF::-moz-range-thumb {
  /* Set the style of the slider thumb for Firefox */
  width: 15px;
  height: 15px;
  background-color: #375881;
  cursor: pointer;
}

#forward {
  float: right;
}

#reverse {
  float: left;
}

#forwardHF {
  float: right;
}

#reverseHF {
  float: left;
}

/* legend */
#legendControl {
  width: 175px;
  height: auto;
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  line-height: 30px;
  text-align: center;
  border: solid gray 1px;
}

/* info panel */
.infoHO {
  padding: 6px 8px;
  font: 14px/16px Verdana;
  background: #f2972780;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.infoHO h4 {
  margin: 0 0 5px;
  color: rgb(78, 78, 78);
}

.infoHF {
  padding: 6px 8px;
  font: 14px/16px Verdana;
  background: #f2972780;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.infoHF h4 {
  margin: 0 0 5px;
  color: rgb(78, 78, 78);
}

/* Data Buttons */
#hoButtons {
  font-family: Verdana;
  font-size: 20px;
}

#health_outcomes0 {
  font-size: 30px;
}

#hfButtons {
  font-family: Verdana;
  font-size: 20px;

}

#health_factors0 {
  font-size: 30px;
}

/*Legends */
.legend {
  background-color: #f2972780;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.legendHF {
  background-color: #f2972780;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.rank_info{
  background-color: #f29727c3;
  font-size: 15px
}

.rank_infoHF{
  background-color: #f29727c3;
  font-size: 15px
}